<%- include header%>
<p>用户登录使用</p>
      <div class="row">
        <div class="col-lg-3">
          <h2>信息管理</h2>
          <p>Image & Description & link & comments</p>
       </div>
        <div class="col-lg-3">
          <h2>文章，录像发表管理（带文本描述，材料推荐可连接商城）</h2>
          <p>Image & Description & link & comments</p>
        </div>
		<div class="col-lg-3">
          <h2>直播厨艺(带文本描述，材料推荐可连接商城)</h2>
          <p>Image & Description & link & comments</p>
        </div>
		<div class="col-lg-3">
          <h2>聊天</h2>
          <p>Image & Description & link & comments</p>
        </div>
      </div>
	  <%- include footer%>