<%- include header%>
<p>用户登录使用</p>
      <div class="row">
        <div class="col-lg-3">
          <h2>农场信息（当前，历史，作物成长状况，与他人比较）（可链接商城出售）</h2>
          <p>Image & Description & link & comments</p>
       </div>
        <div class="col-lg-3">
          <h2>农场命令下发</h2>
          <p>Image & Description & link & comments</p>
        </div>
		<div class="col-lg-3">
          <h2>历史、直播视频（可以共享）</h2>
          <p>Image & Description & link & comments</p>
        </div>
		<div class="col-lg-3">
          <h2>预订场地</h2>
          <p>Image & Description & link & comments</p>
        </div>
      </div>
	  <%- include footer%>