      <%- include header%>
      <div class="row">
        <div class="col-lg-4">
          <h2>健康生活（推荐）</h2>
          <p>Image & Description & link & comments</p>
       </div>
        <div class="col-lg-4">
          <h2>健康菜单</h2>
          <p>Image & Description & link & comments</p>
        </div>
		<div class="col-lg-4">
          <h2>健康讨论（分为热点讨论和一般性讨论）</h2>
          <p>Image & Description & link & comments</p>
        </div>
      </div>
	  <%- include footer%>