<%- include header%>
      <div class="row">
        <div class="col-lg-3">
          <h2>热点关注</h2>
          <p>Image & Description & link & comments</p>
       </div>
        <div class="col-lg-3">
          <h2>厨艺视频（分为录像和直播），农场视频</h2>
          <p>Image & Description & link & comments</p>
        </div>
		<div class="col-lg-3">
          <h2>厨艺文章</h2>
          <p>Image & Description & link & comments</p>
        </div>
		<div class="col-lg-3">
          <h2>讨论</h2>
          <p>Image & Description & link & comments</p>
        </div>
      </div>
	  <%- include footer%>