<%- include ../header%>
<div class="input-group">
<input type="text" class="form-control" placeholder="用户名">
<input type="password" class="form-control" placeholder="m密码">
</div>
<%- include ../footer%>